<html>

<head>
  <title>Collab Space Home</title>
</head>

<center>

  <body style="background: url('{{url_for ('static',filename="/imgs/im1.jpg")}}') no-repeat; background-size: cover;">

    <br /><br /><br /><br /><img src="{{url_for ('static',filename="/imgs/Collab_Space.jpg")}}" width="80" height="60">

    <h1>Welcome to the Collab Space</h1>

    <h3> For Influencer, Click Here: </h3>
    <a href="/influencer/login">Influencer Login</a> <br /><br />
    <a href="/influencer/register">Influencer Register</a><br /><br />

    <h3> For Sponsor, Click Here: </h3>
    <a href="/sponsor/login">Sponsor Login</a><br /> <br />
    <a href="/sponsor/register">Sponsor Register</a><br /><br /><br />

    <b>Influencers - </b> An individual who has significant social media following. <br /> <br />
    <b> Sponsors - </b> A Company/Individual who wants to advertise their product/service.
</center>
</body>

</html>